<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>

    <body>

        <div th:replace="fragments :: page-header"></div>

        <div class="container body-content">
            <h1>View jobs by:</h1>
            <h3><!--David modified. It was ""-->
            <ol><!--David modified. It was "ul"-->
                <li th:each="action : ${actions}">
                    <a th:href="@{'/' + ${action.key}}" th:text="${action.value}"></a>
<!--                    <a th:href="${action.value}" th:text="${action.Value}">mmmmm</a>-->
<!--                    <a th:href="${action.value}" >Testing message</a>-->
                </li>
            </ol>
            </h3>
        </div>

    </body>

</html>